.thelatest-flexbox {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-left: 10%;
  width: 80%;
}

.img-div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 150px;
  box-shadow: 1px 1px 5px black;
}

.thelatest-div {
  width: 25%;
}

.title1 {
  font-size: larger;
  font-weight: bold;
  margin-block-end: 0.3em;
}

.description {
  color: gray;
  font-size: x-small;
  margin-block-start: 0;
}

.category {
  font-size: x-small;
  color: grey;
}
.travel {
  color: grey;
  font-weight: bold;
}

a:visited {
  color: black;
}

.main-hr {
  width: 10%;
  margin-left: 13%;
  background-color: orange;
  border: 2px solid orange;
}
.main-title {
  font-size: larger;
  font-weight: bold;
  margin-left: 13%;
  margin-block-end: 0;
}

.blog-desp > a {
  color: black;
}

.title1:hover .thelatest-div {
  background-color: gray;
}

@media screen and (max-width: 650px) {
  .thelatest-flexbox {
    display: block;
  }

  .thelatest-div {
    width: 100%;
  }
}
